/*
 * Core Margin Vr by getcore.github.io
 * Copyright 2017 Flamecore
 * Github site github.com/getcore/core
 * Author Andika Chamberlin Follow Me twitter.com/andikamingo
 * MIT License 
*/

.marginVr-1{margin-top:1px;margin-bottom:1px;}
.marginVr-2{margin-top:2px;margin-bottom:2px;}
.marginVr-3{margin-top:3px;margin-bottom:3px;}
.marginVr-4{margin-top:4px;margin-bottom:4px;}
.marginVr-5{margin-top:5px;margin-bottom:5px;}
.marginVr-6{margin-top:6px;margin-bottom:6px;}
.marginVr-7{margin-top:7px;margin-bottom:7px;}
.marginVr-8{margin-top:8px;margin-bottom:8px;}
.marginVr-9{margin-top:9px;margin-bottom:9px;}
.marginVr-10{margin-top:10px;margin-bottom:10px;}

.marginVr-11{margin-top:11px;margin-bottom:11px;}
.marginVr-12{margin-top:12px;margin-bottom:12px;}
.marginVr-13{margin-top:13px;margin-bottom:13px;}
.marginVr-14{margin-top:14px;margin-bottom:14px;}
.marginVr-15{margin-top:15px;margin-bottom:15px;}
.marginVr-16{margin-top:16px;margin-bottom:16px;}
.marginVr-17{margin-top:17px;margin-bottom:17px;}
.marginVr-18{margin-top:18px;margin-bottom:18px;}
.marginVr-19{margin-top:19px;margin-bottom:19px;}
.marginVr-20{margin-top:20px;margin-bottom:20px;}

.marginVr-21{margin-top:21px;margin-bottom:21px;}
.marginVr-22{margin-top:22px;margin-bottom:22px;}
.marginVr-23{margin-top:23px;margin-bottom:23px;}
.marginVr-24{margin-top:24px;margin-bottom:24px;}
.marginVr-25{margin-top:25px;margin-bottom:25px;}
.marginVr-26{margin-top:26px;margin-bottom:26px;}
.marginVr-27{margin-top:27px;margin-bottom:27px;}
.marginVr-28{margin-top:28px;margin-bottom:28px;}
.marginVr-29{margin-top:29px;margin-bottom:29px;}
.marginVr-30{margin-top:30px;margin-bottom:30px;}

.marginVr-31{margin-top:31px;margin-bottom:31px;}
.marginVr-32{margin-top:32px;margin-bottom:32px;}
.marginVr-33{margin-top:33px;margin-bottom:33px;}
.marginVr-34{margin-top:34px;margin-bottom:34px;}
.marginVr-35{margin-top:35px;margin-bottom:35px;}
.marginVr-36{margin-top:36px;margin-bottom:36px;}
.marginVr-37{margin-top:37px;margin-bottom:37px;}
.marginVr-38{margin-top:38px;margin-bottom:38px;}
.marginVr-39{margin-top:39px;margin-bottom:39px;}
.marginVr-40{margin-top:40px;margin-bottom:40px;}

.marginVr-41{margin-top:41px;margin-bottom:41px;}
.marginVr-42{margin-top:42px;margin-bottom:42px;}
.marginVr-43{margin-top:43px;margin-bottom:43px;}
.marginVr-44{margin-top:44px;margin-bottom:44px;}
.marginVr-45{margin-top:45px;margin-bottom:45px;}
.marginVr-46{margin-top:46px;margin-bottom:46px;}
.marginVr-47{margin-top:47px;margin-bottom:47px;}
.marginVr-48{margin-top:48px;margin-bottom:48px;}
.marginVr-49{margin-top:49px;margin-bottom:49px;}
.marginVr-50{margin-top:50px;margin-bottom:50px;}

.marginVr-51{margin-top:51px;margin-bottom:51px;}
.marginVr-52{margin-top:52px;margin-bottom:52px;}
.marginVr-53{margin-top:53px;margin-bottom:53px;}
.marginVr-54{margin-top:54px;margin-bottom:54px;}
.marginVr-55{margin-top:55px;margin-bottom:55px;}
.marginVr-56{margin-top:56px;margin-bottom:56px;}
.marginVr-57{margin-top:57px;margin-bottom:57px;}
.marginVr-58{margin-top:58px;margin-bottom:58px;}
.marginVr-59{margin-top:59px;margin-bottom:59px;}
.marginVr-60{margin-top:60px;margin-bottom:60px;}

.marginVr-61{margin-top:61px;margin-bottom:61px;}
.marginVr-62{margin-top:62px;margin-bottom:62px;}
.marginVr-63{margin-top:63px;margin-bottom:63px;}
.marginVr-64{margin-top:64px;margin-bottom:64px;}
.marginVr-65{margin-top:65px;margin-bottom:65px;}
.marginVr-66{margin-top:66px;margin-bottom:66px;}
.marginVr-67{margin-top:67px;margin-bottom:67px;}
.marginVr-68{margin-top:68px;margin-bottom:68px;}
.marginVr-69{margin-top:69px;margin-bottom:69px;}
.marginVr-70{margin-top:70px;margin-bottom:70px;}

.marginVr-71{margin-top:71px;margin-bottom:71px;}
.marginVr-72{margin-top:72px;margin-bottom:72px;}
.marginVr-73{margin-top:73px;margin-bottom:73px;}
.marginVr-74{margin-top:74px;margin-bottom:74px;}
.marginVr-75{margin-top:75px;margin-bottom:75px;}
.marginVr-76{margin-top:76px;margin-bottom:76px;}
.marginVr-77{margin-top:77px;margin-bottom:77px;}
.marginVr-78{margin-top:78px;margin-bottom:78px;}
.marginVr-79{margin-top:79px;margin-bottom:79px;}
.marginVr-80{margin-top:80px;margin-bottom:80px;}

.marginVr-81{margin-top:81px;margin-bottom:81px;}
.marginVr-82{margin-top:82px;margin-bottom:82px;}
.marginVr-83{margin-top:83px;margin-bottom:83px;}
.marginVr-84{margin-top:84px;margin-bottom:84px;}
.marginVr-85{margin-top:85px;margin-bottom:85px;}
.marginVr-86{margin-top:86px;margin-bottom:86px;}
.marginVr-87{margin-top:87px;margin-bottom:87px;}
.marginVr-88{margin-top:88px;margin-bottom:88px;}
.marginVr-89{margin-top:89px;margin-bottom:89px;}
.marginVr-90{margin-top:90px;margin-bottom:90px;}

.marginVr-91{margin-top:91px;margin-bottom:91px;}
.marginVr-92{margin-top:92px;margin-bottom:92px;}
.marginVr-93{margin-top:93px;margin-bottom:93px;}
.marginVr-94{margin-top:94px;margin-bottom:94px;}
.marginVr-95{margin-top:95px;margin-bottom:95px;}
.marginVr-96{margin-top:96px;margin-bottom:96px;}
.marginVr-97{margin-top:97px;margin-bottom:97px;}
.marginVr-98{margin-top:98px;margin-bottom:98px;}
.marginVr-99{margin-top:99px;margin-bottom:99px;}
.marginVr-100{margin-top:100px;margin-bottom:100px;}
