/*
 * Core Margin Hr by getcore.github.io
 * Copyright 2017 Flamecore
 * Github site github.com/getcore/core
 * Author Andika Chamberlin Follow Me twitter.com/andikamingo
 * MIT License 
*/

.marginHr-1{margin-left:1px;margin-right:1px;}
.marginHr-2{margin-left:2px;margin-right:2px;}
.marginHr-3{margin-left:3px;margin-right:3px;}
.marginHr-4{margin-left:4px;margin-right:4px;}
.marginHr-5{margin-left:5px;margin-right:5px;}
.marginHr-6{margin-left:6px;margin-right:6px;}
.marginHr-7{margin-left:7px;margin-right:7px;}
.marginHr-8{margin-left:8px;margin-right:8px;}
.marginHr-9{margin-left:9px;margin-right:9px;}
.marginHr-10{margin-left:10px;margin-right:10px;}

.marginHr-11{margin-left:11px;margin-right:11px;}
.marginHr-12{margin-left:12px;margin-right:12px;}
.marginHr-13{margin-left:13px;margin-right:13px;}
.marginHr-14{margin-left:14px;margin-right:14px;}
.marginHr-15{margin-left:15px;margin-right:15px;}
.marginHr-16{margin-left:16px;margin-right:16px;}
.marginHr-17{margin-left:17px;margin-right:17px;}
.marginHr-18{margin-left:18px;margin-right:18px;}
.marginHr-19{margin-left:19px;margin-right:19px;}
.marginHr-20{margin-left:20px;margin-right:20px;}

.marginHr-21{margin-left:21px;margin-right:21px;}
.marginHr-22{margin-left:22px;margin-right:22px;}
.marginHr-23{margin-left:23px;margin-right:23px;}
.marginHr-24{margin-left:24px;margin-right:24px;}
.marginHr-25{margin-left:25px;margin-right:25px;}
.marginHr-26{margin-left:26px;margin-right:26px;}
.marginHr-27{margin-left:27px;margin-right:27px;}
.marginHr-28{margin-left:28px;margin-right:28px;}
.marginHr-29{margin-left:29px;margin-right:29px;}
.marginHr-30{margin-left:30px;margin-right:30px;}

.marginHr-31{margin-left:31px;margin-right:31px;}
.marginHr-32{margin-left:32px;margin-right:32px;}
.marginHr-33{margin-left:33px;margin-right:33px;}
.marginHr-34{margin-left:34px;margin-right:34px;}
.marginHr-35{margin-left:35px;margin-right:35px;}
.marginHr-36{margin-left:36px;margin-right:36px;}
.marginHr-37{margin-left:37px;margin-right:37px;}
.marginHr-38{margin-left:38px;margin-right:38px;}
.marginHr-39{margin-left:39px;margin-right:39px;}
.marginHr-40{margin-left:40px;margin-right:40px;}

.marginHr-41{margin-left:41px;margin-right:41px;}
.marginHr-42{margin-left:42px;margin-right:42px;}
.marginHr-43{margin-left:43px;margin-right:43px;}
.marginHr-44{margin-left:44px;margin-right:44px;}
.marginHr-45{margin-left:45px;margin-right:45px;}
.marginHr-46{margin-left:46px;margin-right:46px;}
.marginHr-47{margin-left:47px;margin-right:47px;}
.marginHr-48{margin-left:48px;margin-right:48px;}
.marginHr-49{margin-left:49px;margin-right:49px;}
.marginHr-50{margin-left:50px;margin-right:50px;}

.marginHr-51{margin-left:51px;margin-right:51px;}
.marginHr-52{margin-left:52px;margin-right:52px;}
.marginHr-53{margin-left:53px;margin-right:53px;}
.marginHr-54{margin-left:54px;margin-right:54px;}
.marginHr-55{margin-left:55px;margin-right:55px;}
.marginHr-56{margin-left:56px;margin-right:56px;}
.marginHr-57{margin-left:57px;margin-right:57px;}
.marginHr-58{margin-left:58px;margin-right:58px;}
.marginHr-59{margin-left:59px;margin-right:59px;}
.marginHr-60{margin-left:60px;margin-right:60px;}

.marginHr-61{margin-left:61px;margin-right:61px;}
.marginHr-62{margin-left:62px;margin-right:62px;}
.marginHr-63{margin-left:63px;margin-right:63px;}
.marginHr-64{margin-left:64px;margin-right:64px;}
.marginHr-65{margin-left:65px;margin-right:65px;}
.marginHr-66{margin-left:66px;margin-right:66px;}
.marginHr-67{margin-left:67px;margin-right:67px;}
.marginHr-68{margin-left:68px;margin-right:68px;}
.marginHr-69{margin-left:69px;margin-right:69px;}
.marginHr-70{margin-left:70px;margin-right:70px;}

.marginHr-71{margin-left:71px;margin-right:71px;}
.marginHr-72{margin-left:72px;margin-right:72px;}
.marginHr-73{margin-left:73px;margin-right:73px;}
.marginHr-74{margin-left:74px;margin-right:74px;}
.marginHr-75{margin-left:75px;margin-right:75px;}
.marginHr-76{margin-left:76px;margin-right:76px;}
.marginHr-77{margin-left:77px;margin-right:77px;}
.marginHr-78{margin-left:78px;margin-right:78px;}
.marginHr-79{margin-left:79px;margin-right:79px;}
.marginHr-80{margin-left:80px;margin-right:80px;}

.marginHr-81{margin-left:81px;margin-right:81px;}
.marginHr-82{margin-left:82px;margin-right:82px;}
.marginHr-83{margin-left:83px;margin-right:83px;}
.marginHr-84{margin-left:84px;margin-right:84px;}
.marginHr-85{margin-left:85px;margin-right:85px;}
.marginHr-86{margin-left:86px;margin-right:86px;}
.marginHr-87{margin-left:87px;margin-right:87px;}
.marginHr-88{margin-left:88px;margin-right:88px;}
.marginHr-89{margin-left:89px;margin-right:89px;}
.marginHr-90{margin-left:90px;margin-right:90px;}

.marginHr-91{margin-left:91px;margin-right:91px;}
.marginHr-92{margin-left:92px;margin-right:92px;}
.marginHr-93{margin-left:93px;margin-right:93px;}
.marginHr-94{margin-left:94px;margin-right:94px;}
.marginHr-95{margin-left:95px;margin-right:95px;}
.marginHr-96{margin-left:96px;margin-right:96px;}
.marginHr-97{margin-left:97px;margin-right:97px;}
.marginHr-98{margin-left:98px;margin-right:98px;}
.marginHr-99{margin-left:99px;margin-right:99px;}
.marginHr-100{margin-left:100px;margin-right:100px;}
