/* Core Column 4*/
.row:before,
.row:after{
	display: table;
	content: " ";
}
.row:after{
	clear: both;
}
.column{float:left;width:100%}

.column.s1{width:25%}
.column.s2{width:50%}
.column.s3{width:75%}
.column.s4{width:100%}

@media only screen and (min-width:601px) {
.column.m1{width:25%}
.column.m2{width:50%}
.column.m3{width:75%}
.column.m4{width:100%}
}

@media only screen and (min-width:993px) {
.column.l1{width:25%}
.column.l2{width:50%}
.column.l3{width:75%}
.column.l4{width:100%}
}