/*
 * Core zindex by getcore.github.io
 * Copyright 2017 Flamecore
 * Github site github.com/getcore/core
 * Author Andika Chamberlin Follow Me twitter.com/andikamingo
 * MIT License 
*/

.zindex-1{z-index:1!important;}
.zindex-2{z-index:2!important;}
.zindex-3{z-index:3!important;}
.zindex-4{z-index:4!important;}
.zindex-5{z-index:5!important;}
.zindex-6{z-index:6!important;}
.zindex-7{z-index:7!important;}
.zindex-8{z-index:8!important;}
.zindex-9{z-index:9!important;}
.zindex-10{z-index:10!important;}

.zindex-11{z-index:11!important;}
.zindex-12{z-index:12!important;}
.zindex-13{z-index:13!important;}
.zindex-14{z-index:14!important;}
.zindex-15{z-index:15!important;}
.zindex-16{z-index:16!important;}
.zindex-17{z-index:17!important;}
.zindex-18{z-index:18!important;}
.zindex-19{z-index:19!important;}
.zindex-20{z-index:20!important;}

.zindex-21{z-index:21!important;}
.zindex-22{z-index:22!important;}
.zindex-23{z-index:23!important;}
.zindex-24{z-index:24!important;}
.zindex-25{z-index:25!important;}
.zindex-26{z-index:26!important;}
.zindex-27{z-index:27!important;}
.zindex-28{z-index:28!important;}
.zindex-29{z-index:29!important;}
.zindex-30{z-index:30!important;}

.zindex-31{z-index:31!important;}
.zindex-32{z-index:32!important;}
.zindex-33{z-index:33!important;}
.zindex-34{z-index:34!important;}
.zindex-35{z-index:35!important;}
.zindex-36{z-index:36!important;}
.zindex-37{z-index:37!important;}
.zindex-38{z-index:38!important;}
.zindex-39{z-index:39!important;}
.zindex-40{z-index:40!important;}

.zindex-41{z-index:41!important;}
.zindex-42{z-index:42!important;}
.zindex-43{z-index:43!important;}
.zindex-44{z-index:44!important;}
.zindex-45{z-index:45!important;}
.zindex-46{z-index:46!important;}
.zindex-47{z-index:47!important;}
.zindex-48{z-index:48!important;}
.zindex-49{z-index:49!important;}
.zindex-50{z-index:50!important;}

.zindex-51{z-index:51!important;}
.zindex-52{z-index:52!important;}
.zindex-53{z-index:53!important;}
.zindex-54{z-index:54!important;}
.zindex-55{z-index:55!important;}
.zindex-56{z-index:56!important;}
.zindex-57{z-index:57!important;}
.zindex-58{z-index:58!important;}
.zindex-59{z-index:59!important;}
.zindex-60{z-index:60!important;}

.zindex-61{z-index:61!important;}
.zindex-62{z-index:62!important;}
.zindex-63{z-index:63!important;}
.zindex-64{z-index:64!important;}
.zindex-65{z-index:65!important;}
.zindex-66{z-index:66!important;}
.zindex-67{z-index:67!important;}
.zindex-68{z-index:68!important;}
.zindex-69{z-index:69!important;}
.zindex-70{z-index:70!important;}

.zindex-71{z-index:71!important;}
.zindex-72{z-index:72!important;}
.zindex-73{z-index:73!important;}
.zindex-74{z-index:74!important;}
.zindex-75{z-index:75!important;}
.zindex-76{z-index:76!important;}
.zindex-77{z-index:77!important;}
.zindex-78{z-index:78!important;}
.zindex-79{z-index:79!important;}
.zindex-80{z-index:80!important;}

.zindex-81{z-index:81!important;}
.zindex-82{z-index:82!important;}
.zindex-83{z-index:83!important;}
.zindex-84{z-index:84!important;}
.zindex-85{z-index:85!important;}
.zindex-86{z-index:86!important;}
.zindex-87{z-index:87!important;}
.zindex-88{z-index:88!important;}
.zindex-89{z-index:89!important;}
.zindex-90{z-index:90!important;}

.zindex-91{z-index:91!important;}
.zindex-92{z-index:92!important;}
.zindex-93{z-index:93!important;}
.zindex-94{z-index:94!important;}
.zindex-95{z-index:95!important;}
.zindex-96{z-index:96!important;}
.zindex-97{z-index:97!important;}
.zindex-98{z-index:98!important;}
.zindex-99{z-index:99!important;}
.zindex-100{z-index:100!important;}

.zindex-200{z-index:200!important;}
.zindex-300{z-index:300!important;}
.zindex-400{z-index:400!important;}
.zindex-500{z-index:500!important;}
.zindex-600{z-index:600!important;}
.zindex-700{z-index:700!important;}
.zindex-800{z-index:800!important;}
.zindex-900{z-index:900!important;}
.zindex-1000{z-index:1000!important;}
