/*!
 * Core Column by Flamecore
 * Copyright 2017 Flamecore
 * Licensed All Rights Reserved
 * Author Andika Chamberlin
 
/*================================================= Core Column ==================================================*/

.row:before,
.row:after{
	display: table;
	content: " ";
}
.row:after{
	clear: both;
}
.column{float:left;width:100%}

.column.eq12 	     {width:100%}
.column.eql1             {width:91.66666667%}
.column.eq10             {width:83.33333333%}
.column.eq9               {width:75%}
.column.eq8               {width:66.66666667%}
.column.eq7               {width:58.33333333%}
.column.eq6               {width:50%}
.column.eq5               {width:41.66666667%}
.column.eq4               {width:33.33333333%}
.column.eq3               {width:25%}
.column.eq2               {width:16.66666667%}
.column.eq1               {width:8.33333333%}

.column.eq12-pull     {right:100%}
.column.eq11-pull     {right:91.66666667%}
.column.eq10-pull     {right:83.33333333%}
.column.eq9-pull       {right:75%}
.column.eq8-pull       {right:66.66666667%}
.column.eq7-pull       {right:58.33333333%}
.column.eq6-pull       {right:50%}
.column.eq5-pull       {right:41.66666667%}
.column.eq4-pull       {right:33.33333333%}  
.column.eq3-pull       {right:25%}
.column.eq2-pull       {right:16.66666667%}
.column.eq1-pull       {right:8.33333333%}
.column.eq0-pull       {right:auto;}

.column.eq12-push     {left:100%;}
.column.eq11-push     {left:91.66666667%;}
.column.eq10-push     {left:83.33333333%;}
.column.eq9-push       {left:75%;}
.column.eq8-push       {left:66.66666667%;}
.column.eq7-push       {left:58.33333333%;}
.column.eq6-push       {left:50%;}
.column.eq5-push       {left:41.66666667%;}
.column.eq4-push       {left:33.33333333%;}
.column.eq3-push       {left:25%;}
.column.eq2-push       {left:16.66666667%;}
.column.eq1-push       {left:8.33333333%;}
.column.eq0-push       {left: auto;}

.column.eq12-offset {margin-left:100%;}
.column.eq11-offset {margin-left:91.66666667%;}
.column.eq10-offset {margin-left:83.33333333%;}
.column.eq9-offset   {margin-left:75%;}
.column.eq8-offset   {margin-left:66.66666667%;}
.column.eq7-offset   {margin-left:58.33333333%;}
.column.eq6-offset   {margin-left:50%;}
.column.eq5-offset   {margin-left:41.66666667%;}
.column.eq4-offset   {margin-left:33.33333333%;}
.column.eq3-offset   {margin-left:25%;}
.column.eq2-offset   {margin-left:16.66666667%;}
.column.eq1-offset   {margin-left:8.33333333%;}
.column.eq0-offset   {margin-left:0;}}

.column.s12 	       {width:100%}
.column.s11 	       {width:91.66666667%}
.column.s10         {width:83.33333333%}
.column.s9           {width:75%}
.column.s8           {width:66.66666667%}
.column.s7           {width:58.33333333%}
.column.s6           {width:50%}
.column.s5           {width:41.66666667%}
.column.s4           {width:33.33333333%}
.column.s3           {width:25%}
.column.s2           {width:16.66666667%}
.column.s1           {width:8.33333333%}

.column.s12-pull     {right:100%}
.column.s11-pull     {right:91.66666667%}
.column.s10-pull     {right:83.33333333%}
.column.s9-pull       {right:75%}
.column.s8-pull       {right:66.66666667%}
.column.s7-pull       {right:58.33333333%}
.column.s6-pull       {right:50%}
.column.s5-pull       {right:41.66666667%}
.column.s4-pull       {right:33.33333333%}  
.column.s3-pull       {right:25%}
.column.s2-pull       {right:16.66666667%}
.column.s1-pull       {right:8.33333333%}
.column.s0-pull       {right:auto;}

.column.s12-push     {left:100%;}
.column.s11-push     {left:91.66666667%;}
.column.s10-push     {left:83.33333333%;}
.column.s9-push       {left:75%;}
.column.s8-push       {left:66.66666667%;}
.column.s7-push       {left:58.33333333%;}
.column.s6-push       {left:50%;}
.column.s5-push       {left:41.66666667%;}
.column.s4-push       {left:33.33333333%;}
.column.s3-push       {left:25%;}
.column.s2-push       {left:16.66666667%;}
.column.s1-push       {left:8.33333333%;}
.column.s0-push 	     {left: auto;}

.column.s12-offset {margin-left:100%;}
.column.s11-offset {margin-left:91.66666667%;}
.column.s10-offset {margin-left:83.33333333%;}
.column.s9-offset   {margin-left:75%;}
.column.s8-offset   {margin-left:66.66666667%;}
.column.s7-offset   {margin-left:58.33333333%;}
.column.s6-offset   {margin-left:50%;}
.column.s5-offset   {margin-left:41.66666667%;}
.column.s4-offset   {margin-left:33.33333333%;}
.column.s3-offset   {margin-left:25%;}
.column.s2-offset   {margin-left:16.66666667%;}
.column.s1-offset   {margin-left:8.33333333%;}
.column.s0-offset   {margin-left:0;}

@media only screen and (min-width:601px) {
.column.m12{width:100%}
.column.m11{width:91.66666667%}
.column.m10{width: 83.33333333%}
.column.m9  {width:75%}
.column.m8  {width:66.66666667%}
.column.m7  {width:58.33333333%}
.column.m6  {width:50%}
.column.m5  {width:41.66666667%}
.column.m4  {width:33.33333333%}
.column.m3  {width:25%}
.column.m2  {width:16.66666667%}
.column.m1  {width:8.33333333%}

.column.m12-pull {right:100%}
.column.m11-pull {right:91.66666667%}
.column.m10-pull {right:83.33333333%}
.column.m9-pull  {right:75%}
.column.m8-pull  {right:66.66666667%}
.column.m7-pull  {right:58.33333333%}
.column.m6-pull  {right:50%}
.column.m5-pull  {right:41.66666667%}
.column.m4-pull  {right:33.33333333%}  
.column.m3-pull  {right:25%}
.column.m2-pull  {right:16.66666667%}
.column.m1-pull  {right:8.33333333%}
.column.m0-pull  {right:auto;}

.column.m12-push {left:100%;}
.column.m11-push {left:91.66666667%;}
.column.m10-push {left:83.33333333%;}
.column.m9-push  {left:75%;}
.column.m8-push  {left:66.66666667%;}
.column.m7-push  {left:58.33333333%;}
.column.m6-push  {left:50%;}
.column.m5-push  {left:41.66666667%;}
.column.m4-push  {left:33.33333333%;}
.column.m3-push  {left:25%;}
.column.m2-push  {left:16.66666667%;}
.column.m1-push  {left:8.33333333%;}
.column.m0-push  {left: auto;}

.column.m12-offset  {margin-left:100%;}
.column.m11-offset  {margin-left:91.66666667%;}
.column.m10-offset  {margin-left:83.33333333%;}
.column.m9-offset   {margin-left:75%;}
.column.m8-offset   {margin-left:66.66666667%;}
.column.m7-offset   {margin-left:58.33333333%;}
.column.m6-offset   {margin-left:50%;}
.column.m5-offset   {margin-left:41.66666667%;}
.column.m4-offset   {margin-left:33.33333333%;}
.column.m3-offset   {margin-left:25%;}
.column.m2-offset   {margin-left:16.66666667%;}
.column.m1-offset   {margin-left:8.33333333%;}
.column.m0-offset   {margin-left:0;}}

@media only screen and (min-width:993px){
.column.l12 {width:100%}
.column.l11 {width:91.66666667%}
.column.l10 {width:83.33333333%}
.column.l9  {width:75%;}
.column.l8  {width:66.66666667%}
.column.l7  {width:58.33333333%}
.column.l6  {width:50%}
.column.l5  {width:41.66666667%}
.column.l4  {width:33.33333333%}
.column.l3  {width:25%}
.column.l2  {width:16.66666667%}
.column.l1  {width:8.33333333%}

.column.l12-pull {right:100%}
.column.l11-pull {right:91.66666667%}
.column.l10-pull {right:83.33333333%}
.column.l9-pull  {right:75%}
.column.l8-pull  {right:66.66666667%}
.column.l7-pull  {right:58.33333333%}
.column.l6-pull  {right:50%}
.column.l5-pull  {right:41.66666667%}
.column.l4-pull  {right:33.33333333%}  
.column.l3-pull  {right:25%}
.column.l2-pull  {right:16.66666667%}
.column.l1-pull  {right:8.33333333%}
.column.l0-pull  {right:auto;}

.column.l12-push {left:100%;}
.column.l11-push {left:91.66666667%;}
.column.l10-push {left:83.33333333%;}
.column.l9-push  {left:75%;}
.column.l8-push  {left:66.66666667%;}
.column.l7-push  {left:58.33333333%;}
.column.l6-push  {left:50%;}
.column.l5-push  {left:41.66666667%;}
.column.l4-push  {left:33.33333333%;}
.column.l3-push  {left:25%;}
.column.l2-push  {left:16.66666667%;}
.column.l1-push  {left:8.33333333%;}
.column.l0-push  {left: auto;}

.column.l12-offset {margin-left:100%;}
.column.l11-offset {margin-left:91.66666667%;}
.column.l10-offset {margin-left:83.33333333%;}
.column.l9-offset  {margin-left:75%;}
.column.l8-offset  {margin-left:66.66666667%;}
.column.l7-offset  {margin-left:58.33333333%;}
.column.l6-offset  {margin-left:50%;}
.column.l5-offset  {margin-left:41.66666667%;}
.column.l4-offset  {margin-left:33.33333333%;}
.column.l3-offset  {margin-left:25%;}
.column.l2-offset  {margin-left:16.66666667%;}
.column.l1-offset  {margin-left:8.33333333%;}
.column.l0-offset  {margin-left:0;}}