/*!
 * Core Column 24 by getcore.github.io
 * Copyright 2017 Flamecore
 * Github site github.com/getcore/core
 * Author Andika Chamberlin Follow Me twitter.com/andikamingo
 * MIT License 
*/

.row:before,
.row:after{
	display: table;
	content: " ";
}
.row:after{
	clear: both;
}
.column{float:left;width:100%}

.column.s1{width:4.166666666666667%}
.column.s2{width:8.333333333333334%}
.column.s3{width:12.5%}
.column.s4{width:16.66666666666667%}
.column.s5{width:20.83333333333334%}
.column.s6{width:25%}
.column.s7{width:29.16666666666667%}
.column.s8{width:33.33333333333334%}
.column.s9{width:37.5%}
.column.s10{width:41.66666666666667%}
.column.s11{width:45.83333333333334%}
.column.s12{width:50%}
.column.s13{width:54.16666666666667%}
.column.s14{width:58.33333333333334%}
.column.s15{width:62.50000000000001%}
.column.s16{width:66.66666666666667%}
.column.s17{width:70.83333333333334%}
.column.s18{width:75.00000000000001%}
.column.s19{width:79.16666666666667%}
.column.s20{width:83.33333333333334%}
.column.s21{width:87.50000000000001%}
.column.s22{width:91.66666666666667%}
.column.s23{width:95.83333333333334%}
.column.s24{width:100%}

@media only screen and (min-width:601px) {
.column.m1{width:4.166666666666667%}
.column.m2{width:8.333333333333334%}
.column.m3{width:12.5%}
.column.m4{width:16.66666666666667%}
.column.m5{width:20.83333333333334%}
.column.m6{width:25%}
.column.m7{width:29.16666666666667%}
.column.m8{width:33.33333333333334%}
.column.m9{width:37.5%}
.column.m10{width:41.66666666666667%}
.column.m11{width:45.83333333333334%}
.column.m12{width:50%}
.column.m13{width:54.16666666666667%}
.column.m14{width:58.33333333333334%}
.column.m15{width:62.50000000000001%}
.column.m16{width:66.66666666666667%}
.column.m17{width:70.83333333333334%}
.column.m18{width:75.00000000000001%}
.column.m19{width:79.16666666666667%}
.column.m20{width:83.33333333333334%}
.column.m21{width:87.50000000000001%}
.column.m22{width:91.66666666666667%}
.column.m23{width:95.83333333333334%}
.column.m24{width:100%}
}

@media only screen and (min-width:993px) {
.column.l1{width:4.166666666666667%}
.column.l2{width:8.333333333333334%}
.column.l3{width:12.5%}
.column.l4{width:16.66666666666667%}
.column.l5{width:20.83333333333334%}
.column.l6{width:25%}
.column.l7{width:29.16666666666667%}
.column.l8{width:33.33333333333334%}
.column.l9{width:37.5%}
.column.l10{width:41.66666666666667%}
.column.l11{width:45.83333333333334%}
.column.l12{width:50%}
.column.l13{width:54.16666666666667%}
.column.l14{width:58.33333333333334%}
.column.l15{width:62.50000000000001%}
.column.l16{width:66.66666666666667%}
.column.l17{width:70.83333333333334%}
.column.l18{width:75.00000000000001%}
.column.l19{width:79.16666666666667%}
.column.l20{width:83.33333333333334%}
.column.l21{width:87.50000000000001%}
.column.l22{width:91.66666666666667%}
.column.l23{width:95.83333333333334%}
.column.l24{width:100%}
}