.font-18{font-size:18px;}
.font-100{font-size:100px;}

.phone{
    height:480px;
    width:100%;
    border-left:15px solid #eee;
    border-top:30px solid #eee;
    border-right:15px solid #eee;
    border-bottom:30px solid #eee;
    border-radius:8px;
    overflow: hidden;
    z-index: 6!important;
}
.tablet{
    height:480px;
    width:100%;
    border-left:15px solid #eee;
    border-top:30px solid #eee;
    border-right:15px solid #eee;
    border-bottom:30px solid #eee;
    border-radius:8px;
    overflow: hidden;
    z-index: 5!important;
}

/* Profil Card */
.profil{
    border:1px solid #f1f1f1;
    border-radius:4px;
}
.profil-header{
    height:150px;
    overflow: hidden;
    border-bottom:1px solid #f1f1f1;
    background-size: cover;
    position: relative;
}
.profil-images img{
    position:absolute;bottom:0;left:0;top:0;right:0;margin: auto;
    border-radius:50%;
    border: 4px solid #fff;
    width:120px;
    height:120px;
    box-shadow: 0px 0px 2px #888;
}
.profil-text{
    padding:0 16px;

}
@media (max-width: 600px){
    .responsive-height{
        height: 450px;
    }
}
@media (max-width:992px) and (min-width:601px){
    .responsive-height{
        height: 600px;
    }  
}
@media (min-width: 993px){
    .responsive-height{
        height: 800px;
    }  
}

.nav{
	display: block;
	height: 50px;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
}

.nav:after{
	display: table;
	content: "";
	clear: both;
}

.nav .nav-logo{
	float: left;
	margin-left: 16px;
}

.nav .nav-logo img{
	position: relative;
	z-index: 11;
	width: 40px;
	padding-top: 5px;
}

.nav .nav-link{
	float: right;
}

.nav .nav-link > li{
	float: left;
	list-style-type: none;
	line-height: 50px;
}

.nav .nav-link > li:hover{
	background-color: #eee;
}

.nav .nav-link > li > a {
	display: block;
	text-decoration: none;
	color: #444;
	padding: 0 16px;
}

.nav .nav-toggle{
	float: right;
	line-height: 50px;
	padding:0 16px;
	position: relative;
	z-index: 11;
}

.nav .nav-toggle:hover{
	background-color: #eee;
	cursor: pointer; 
}

@media(min-width: 601px){
	.nav .nav-toggle{
		display: none;
	}
}
@media(min-width: 601px){
	.nav .nav-link{
		display: block!important;
	}
}

@media(max-width: 600px){
	.nav .nav-link{
		display: none;
		position: absolute;
		margin: 0;
		width: 100%;
		top: 50px;
		z-index: 11;
		border-bottom: 1px solid #ddd;
		background-color: #fff;
	}
	.nav .nav-link > li{
		float: none;
		text-align: right;
	}
}

.nav-active{
	background-color: #eee;
}

.nav-window{
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
	background-color: #fff;
	opacity: 0.5;
}

@media (min-width: 601px){
	.nav-window{
		display: none!important;
	}
}