/*
 * Core Padding Hr by getcore.github.io
 * Copyright 2017 Flamecore
 * Github site github.com/getcore/core
 * Author Andika Chamberlin Follow Me twitter.com/andikamingo
 * MIT License 
*/

.paddingHr-1{padding-left:1px;padding-right:1px;}
.paddingHr-2{padding-left:2px;padding-right:2px;}
.paddingHr-3{padding-left:3px;padding-right:3px;}
.paddingHr-4{padding-left:4px;padding-right:4px;}
.paddingHr-5{padding-left:5px;padding-right:5px;}
.paddingHr-6{padding-left:6px;padding-right:6px;}
.paddingHr-7{padding-left:7px;padding-right:7px;}
.paddingHr-8{padding-left:8px;padding-right:8px;}
.paddingHr-9{padding-left:9px;padding-right:9px;}
.paddingHr-10{padding-left:10px;padding-right:10px;}

.paddingHr-11{padding-left:11px;padding-right:11px;}
.paddingHr-12{padding-left:12px;padding-right:12px;}
.paddingHr-13{padding-left:13px;padding-right:13px;}
.paddingHr-14{padding-left:14px;padding-right:14px;}
.paddingHr-15{padding-left:15px;padding-right:15px;}
.paddingHr-16{padding-left:16px;padding-right:16px;}
.paddingHr-17{padding-left:17px;padding-right:17px;}
.paddingHr-18{padding-left:18px;padding-right:18px;}
.paddingHr-19{padding-left:19px;padding-right:19px;}
.paddingHr-20{padding-left:20px;padding-right:20px;}

.paddingHr-21{padding-left:21px;padding-right:21px;}
.paddingHr-22{padding-left:22px;padding-right:22px;}
.paddingHr-23{padding-left:23px;padding-right:23px;}
.paddingHr-24{padding-left:24px;padding-right:24px;}
.paddingHr-25{padding-left:25px;padding-right:25px;}
.paddingHr-26{padding-left:26px;padding-right:26px;}
.paddingHr-27{padding-left:27px;padding-right:27px;}
.paddingHr-28{padding-left:28px;padding-right:28px;}
.paddingHr-29{padding-left:29px;padding-right:29px;}
.paddingHr-30{padding-left:30px;padding-right:30px;}

.paddingHr-31{padding-left:31px;padding-right:31px;}
.paddingHr-32{padding-left:32px;padding-right:32px;}
.paddingHr-33{padding-left:33px;padding-right:33px;}
.paddingHr-34{padding-left:34px;padding-right:34px;}
.paddingHr-35{padding-left:35px;padding-right:35px;}
.paddingHr-36{padding-left:36px;padding-right:36px;}
.paddingHr-37{padding-left:37px;padding-right:37px;}
.paddingHr-38{padding-left:38px;padding-right:38px;}
.paddingHr-39{padding-left:39px;padding-right:39px;}
.paddingHr-40{padding-left:40px;padding-right:40px;}

.paddingHr-41{padding-left:41px;padding-right:41px;}
.paddingHr-42{padding-left:42px;padding-right:42px;}
.paddingHr-43{padding-left:43px;padding-right:43px;}
.paddingHr-44{padding-left:44px;padding-right:44px;}
.paddingHr-45{padding-left:45px;padding-right:45px;}
.paddingHr-46{padding-left:46px;padding-right:46px;}
.paddingHr-47{padding-left:47px;padding-right:47px;}
.paddingHr-48{padding-left:48px;padding-right:48px;}
.paddingHr-49{padding-left:49px;padding-right:49px;}
.paddingHr-50{padding-left:50px;padding-right:50px;}

.paddingHr-51{padding-left:51px;padding-right:51px;}
.paddingHr-52{padding-left:52px;padding-right:52px;}
.paddingHr-53{padding-left:53px;padding-right:53px;}
.paddingHr-54{padding-left:54px;padding-right:54px;}
.paddingHr-55{padding-left:55px;padding-right:55px;}
.paddingHr-56{padding-left:56px;padding-right:56px;}
.paddingHr-57{padding-left:57px;padding-right:57px;}
.paddingHr-58{padding-left:58px;padding-right:58px;}
.paddingHr-59{padding-left:59px;padding-right:59px;}
.paddingHr-60{padding-left:60px;padding-right:60px;}

.paddingHr-61{padding-left:61px;padding-right:61px;}
.paddingHr-62{padding-left:62px;padding-right:62px;}
.paddingHr-63{padding-left:63px;padding-right:63px;}
.paddingHr-64{padding-left:64px;padding-right:64px;}
.paddingHr-65{padding-left:65px;padding-right:65px;}
.paddingHr-66{padding-left:66px;padding-right:66px;}
.paddingHr-67{padding-left:67px;padding-right:67px;}
.paddingHr-68{padding-left:68px;padding-right:68px;}
.paddingHr-69{padding-left:69px;padding-right:69px;}
.paddingHr-70{padding-left:70px;padding-right:70px;}

.paddingHr-71{padding-left:71px;padding-right:71px;}
.paddingHr-72{padding-left:72px;padding-right:72px;}
.paddingHr-73{padding-left:73px;padding-right:73px;}
.paddingHr-74{padding-left:74px;padding-right:74px;}
.paddingHr-75{padding-left:75px;padding-right:75px;}
.paddingHr-76{padding-left:76px;padding-right:76px;}
.paddingHr-77{padding-left:77px;padding-right:77px;}
.paddingHr-78{padding-left:78px;padding-right:78px;}
.paddingHr-79{padding-left:79px;padding-right:79px;}
.paddingHr-80{padding-left:80px;padding-right:80px;}

.paddingHr-81{padding-left:81px;padding-right:81px;}
.paddingHr-82{padding-left:82px;padding-right:82px;}
.paddingHr-83{padding-left:83px;padding-right:83px;}
.paddingHr-84{padding-left:84px;padding-right:84px;}
.paddingHr-85{padding-left:85px;padding-right:85px;}
.paddingHr-86{padding-left:86px;padding-right:86px;}
.paddingHr-87{padding-left:87px;padding-right:87px;}
.paddingHr-88{padding-left:88px;padding-right:88px;}
.paddingHr-89{padding-left:89px;padding-right:89px;}
.paddingHr-90{padding-left:90px;padding-right:90px;}

.paddingHr-91{padding-left:91px;padding-right:91px;}
.paddingHr-92{padding-left:92px;padding-right:92px;}
.paddingHr-93{padding-left:93px;padding-right:93px;}
.paddingHr-94{padding-left:94px;padding-right:94px;}
.paddingHr-95{padding-left:95px;padding-right:95px;}
.paddingHr-96{padding-left:96px;padding-right:96px;}
.paddingHr-97{padding-left:97px;padding-right:97px;}
.paddingHr-98{padding-left:98px;padding-right:98px;}
.paddingHr-99{padding-left:99px;padding-right:99px;}
.paddingHr-100{padding-left:100px;padding-right:100px;}
