/*
 * Core Width Px by getcore.github.io
 * Copyright 2017 Flamecore
 * Github site github.com/getcore/core
 * Author Andika Chamberlin Follow Me twitter.com/andikamingo
 * MIT License 
*/

.widthPx-1{width:1px!important;}
.widthPx-2{width:2px!important;}
.widthPx-3{width:3px!important;}
.widthPx-4{width:4px!important;}
.widthPx-5{width:5px!important;}
.widthPx-6{width:6px!important;}
.widthPx-7{width:7px!important;}
.widthPx-8{width:8px!important;}
.widthPx-9{width:9px!important;}
.widthPx-10{width:10px!important;}

.widthPx-11{width:11px!important;}
.widthPx-12{width:12px!important;}
.widthPx-13{width:13px!important;}
.widthPx-14{width:14px!important;}
.widthPx-15{width:15px!important;}
.widthPx-16{width:16px!important;}
.widthPx-17{width:17px!important;}
.widthPx-18{width:18px!important;}
.widthPx-19{width:19px!important;}
.widthPx-20{width:20px!important;}

.widthPx-21{width:21px!important;}
.widthPx-22{width:22px!important;}
.widthPx-23{width:23px!important;}
.widthPx-24{width:24px!important;}
.widthPx-25{width:25px!important;}
.widthPx-26{width:26px!important;}
.widthPx-27{width:27px!important;}
.widthPx-28{width:28px!important;}
.widthPx-29{width:29px!important;}
.widthPx-30{width:30px!important;}

.widthPx-31{width:31px!important;}
.widthPx-32{width:32px!important;}
.widthPx-33{width:33px!important;}
.widthPx-34{width:34px!important;}
.widthPx-35{width:35px!important;}
.widthPx-36{width:36px!important;}
.widthPx-37{width:37px!important;}
.widthPx-38{width:38px!important;}
.widthPx-39{width:39px!important;}
.widthPx-40{width:40px!important;}

.widthPx-41{width:41px!important;}
.widthPx-42{width:42px!important;}
.widthPx-43{width:43px!important;}
.widthPx-44{width:44px!important;}
.widthPx-45{width:45px!important;}
.widthPx-46{width:46px!important;}
.widthPx-47{width:47px!important;}
.widthPx-48{width:48px!important;}
.widthPx-49{width:49px!important;}
.widthPx-50{width:50px!important;}

.widthPx-51{width:51px!important;}
.widthPx-52{width:52px!important;}
.widthPx-53{width:53px!important;}
.widthPx-54{width:54px!important;}
.widthPx-55{width:55px!important;}
.widthPx-56{width:56px!important;}
.widthPx-57{width:57px!important;}
.widthPx-58{width:58px!important;}
.widthPx-59{width:59px!important;}
.widthPx-60{width:60px!important;}

.widthPx-61{width:61px!important;}
.widthPx-62{width:62px!important;}
.widthPx-63{width:63px!important;}
.widthPx-64{width:64px!important;}
.widthPx-65{width:65px!important;}
.widthPx-66{width:66px!important;}
.widthPx-67{width:67px!important;}
.widthPx-68{width:68px!important;}
.widthPx-69{width:69px!important;}
.widthPx-70{width:70px!important;}

.widthPx-71{width:71px!important;}
.widthPx-72{width:72px!important;}
.widthPx-73{width:73px!important;}
.widthPx-74{width:74px!important;}
.widthPx-75{width:75px!important;}
.widthPx-76{width:76px!important;}
.widthPx-77{width:77px!important;}
.widthPx-78{width:78px!important;}
.widthPx-79{width:79px!important;}
.widthPx-80{width:80px!important;}

.widthPx-81{width:81px!important;}
.widthPx-82{width:82px!important;}
.widthPx-83{width:83px!important;}
.widthPx-84{width:84px!important;}
.widthPx-85{width:85px!important;}
.widthPx-86{width:86px!important;}
.widthPx-87{width:87px!important;}
.widthPx-88{width:88px!important;}
.widthPx-89{width:89px!important;}
.widthPx-90{width:90px!important;}

.widthPx-91{width:91px!important;}
.widthPx-92{width:92px!important;}
.widthPx-93{width:93px!important;}
.widthPx-94{width:94px!important;}
.widthPx-95{width:95px!important;}
.widthPx-96{width:96px!important;}
.widthPx-97{width:97px!important;}
.widthPx-98{width:98px!important;}
.widthPx-99{width:99px!important;}
.widthPx-100{width:100px!important;}

.widthPx-200{width:200px!important;}
.widthPx-300{width:300px!important;}
.widthPx-400{width:400px!important;}
.widthPx-500{width:500px!important;}
.widthPx-600{width:600px!important;}
.widthPx-700{width:700px!important;}
.widthPx-800{width:800px!important;}
.widthPx-900{width:900px!important;}
.widthPx-1000{width:1000px!important;}

.widthPx-1100{width:1100px!important;}
.widthPx-1200{width:1200px!important;}
.widthPx-1300{width:1300px!important;}
.widthPx-1400{width:1400px!important;}
.widthPx-1500{width:1500px!important;}
.widthPx-1600{width:1600px!important;}
.widthPx-1700{width:1700px!important;}
.widthPx-1800{width:1800px!important;}
.widthPx-1900{width:1900px!important;}
.widthPx-2000{width:2000px!important;}
